* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    background-color: #333;
    padding: 12px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.medsos {
    display: flex;
    flex-wrap: wrap;
}

.medsos a {
    color: white;
    margin-left: 15px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.ig-icon {
    color: #E1306C;
}

.fb-icon {
    color: #3b5998;
}

.ln-icon {
    color: #0077B5;
}

.header {
    position: relative;
    height: 300px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.sampul {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.profil-wrapper {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    width: 120px;
    height: 120px;
}

.profil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nama-profil {
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.deskripsi-profil-1,
.deskripsi-profil-2 {
    text-align: center;
    font-size: 15px;
    color: #777;
    margin-top: 4px;
}

.tentang-saya {
    padding: 50px;
    background-color: white;
    text-align: left;
}

.tentang-saya h2 {
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 150px;
}

.tentang-saya p {
    font-size: 15px;
    color: black;
    line-height: 1.6;
    margin-top: 10px;
    text-align: justify;
}

@media (max-width: 768px) {
    .tentang-saya {
        padding: 20px;
        background-color: white;
        text-align: left;
    }
}